{% extends 'student/base.html' %} {% load static %} {% block content %}
<div class="form-container">
  <h1 class="page-title" style="margin-left: 10px">
    Scholarship Application Form
  </h1>
  <hr class="divider" />
  <form
    method="POST"
    enctype="multipart/form-data"
  >
        {% csrf_token %}
    <div class="form-row" style="margin-bottom: 30px">
      <label class="form-label">Scholarship Type:</label>
          {{ form.scholarship }}
    </div>

    <div class="tabs-wrapper">
      <a href="#" class="tab active">Part 1: Personal Information</a>
      <a href="{% url 'edit_application_form' form.instance.pk 2 %}" class="tab">Part 2</a>
      <a href="{% url 'edit_application_form' form.instance.pk 3 %}" class="tab">Part 3</a>
      <a href="{% url 'edit_application_form' form.instance.pk 4 %}" class="tab">Part 4</a>
    </div>

    <div class="form-content">

      <div class="form-row">
        <label>Name:</label>
        {{ form.name }}
      </div>

      <div class="form-row">
        <label>Home Address:</label>
        {{ form.home_address }}
      </div>

      <div class="form-row">
        <label>Correspondence Address:</label>
        {{ form.correspondence_address }}
      </div>

      <div class="form-row">
        <label>IC No.:</label>
        {{ form.ic_no }}
      </div>

      <div class="form-row">
        <label>Age:</label>
        {{ form.age }}
      </div>
      <div class="form-row">
        <label>Date of Birth:</label>
        {{ form.date_of_birth }}
      </div>

      <div class="form-row">
        <label>Intake:</label>
        {{ form.intake }}
      </div>

      <div class="form-row">
        <label>Programme:</label>
        {{ form.programme }}
      </div>

      <div class="form-row">
        <label>Student ID:</label>
        {{ form.student_identification_number }}
      </div>

      <div class="form-row">
        <label>Nationality:</label>
        {{ form.nationality }}
      </div>

      <div class="form-row">
        <label>Race:</label>
        {{ form.race }}
      </div>

      <div class="form-row">
        <label>Gender:</label>
        {{ form.gender }}
      </div>

      <div class="form-row">
        <label>Contact number(Mobile):</label>
        {{ form.contact_number }}
      </div>

      <div class="form-row">
        <label>Household (Monthly Income): RM</label>
        {{ form.monthly_income }}
      </div>

      <div class="form-row">
        <label>Email Address:</label>
        {{ form.email_address }}
      </div>

      <div class="form-row">
        <label>Upload your Passport Photo:</label>
        {{ form.passport_photo }}
      </div>

      <div class="form-row align-top">
        <label>Education Level:</label>
        <div class="stacked-inputs">
          {{ form.education_level }}
        </div>
      </div>

      <div class="form-row">
        <label>Academic Result:</label>
        {{ form.academic_result }}
      </div>

      <div class="button-container">
        <button type="submit" class="btn-next">Next</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
