{% extends 'student/base.html' %} {% load static %} {% block content %}
<div class="form-container">
  <h1 class="page-title" style="margin-left: 10px">
    Scholarship Application Form
  </h1>

  <div class="tabs-wrapper">
    <a href="{% url 'edit_application_form' form.instance.pk 1 %}" class="tab"
      >Part 1</a
    >
    <a href="#" class="tab active">Part 2: Personal Achievement</a>
    <a href="{% url 'edit_application_form' form.instance.pk 3 %}" class="tab">Part 3</a>
    <a href="{% url 'edit_application_form' form.instance.pk 4 %}" class="tab">Part 4</a>
  </div>

  <div class="form-content">
  <form
    method="POST"
    enctype="multipart/form-data"
  >
        {% csrf_token %}
        
        {% comment %} LOL. wacky workaround {% endcomment %}
        <div style="display:none;">
          {{ form.scholarship }}
          {{ form.name }}
          {{ form.home_address }}
          {{ form.correspondence_address }}
          {{ form.ic_no }}
          {{ form.age }}
          {{ form.date_of_birth }}
          {{ form.intake }}
          {{ form.programme }}
          {{ form.student_identification_number }}
          {{ form.nationality }}
          {{ form.race }}
          {{ form.gender }}
          {{ form.contact_number }}
          {{ form.monthly_income }}
          {{ form.email_address }}
          {{ form.passport_photo }}
          {{ form.highest_qualification }}
          {{ form.academic_result }}
          {{ form.ea_form }}
          {{ form.payslip }}
          {{ form.reason_deserve }}
        </div>
      <div class="form-vertical-row">
        <label class="top-label"
          >Briefly explain your personal achievement:</label>
        {{ form.personal_achievement }}
      </div>

      <div class="form-vertical-row">
        <label class="top-label">Upload supporting document(s):</label>
        
        <div style="width: 100%;"> {% if form.instance.supporting_document %}
                <div id="display_supporting_document" class="file-display-box" style="width: 350px;">
                    <div class="file-info">
                        <i class="fas fa-file-pdf file-icon"></i>
                        <a href="{{ form.instance.supporting_document.url }}" target="_blank" class="file-link">
                            {{ form.instance.supporting_document.name|slice:"16:" }}
                        </a>
                    </div>
                    <button type="button" class="btn-change" onclick="toggleFileField('supporting_document')">
                        Change
                    </button>
                </div>

                <div id="input_supporting_document" style="display: none;">
                    {{ form.supporting_document }}
                    <div style="margin-top: 5px;">
                        <small><a href="#" onclick="cancelFileChange('supporting_document'); return false;" style="color: #666;">Cancel change</a></small>
                    </div>
                </div>
            {% else %}
                {{ form.supporting_document }}
            {% endif %}
            <div class="sub-label">Supported formats: PDF, JPG, PNG</div>
        </div>
      </div>

      <div class="button-group-center">
        <a href="{% url 'edit_application_form' form.instance.pk 1 %}" class="btn-back">Back</a>

        <button type="submit" class="btn-next">Next</button>
      </div>
    </form>
  </div>
</div>

<script>
  function toggleFileField(fieldName) {
    document.getElementById('display_' + fieldName).style.display = 'none';
    document.getElementById('input_' + fieldName).style.display = 'block';
  }

  function cancelFileChange(fieldName) {
    document.getElementById('display_' + fieldName).style.display = 'flex';
    document.getElementById('input_' + fieldName).style.display = 'none';
    const input = document.querySelector('#input_' + fieldName + ' input[type="file"]');
    if (input) input.value = ''; 
  }
</script>
{% endblock %}
