{% extends 'student/base.html' %}
{% load static %}

{% block content %}
<div class="form-container">
    
    <h1 class="page-title" style="margin-left: 10px;">Scholarship Application Form</h1>
    
    <div class="tabs-wrapper">
        <a href="{% url 'applicationForm' %}" class="tab">Part 1</a>
        <a href="#" class="tab active">Part 2: Personal Achievement</a>
        <a href="#" class="tab">Part 3</a>
        <a href="#" class="tab">Part 4</a>
    </div>

    <div class="form-content">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-vertical-row">
                <label class="top-label">Briefly explain your personal achievement:</label>
                <textarea class="form-input large-textarea" rows="8"></textarea>
            </div>

            <div class="form-vertical-row">
                <label class="top-label">Upload supporting document(s):</label>
                <input type="file" class="file-input" style="width: 300px;">
            </div>

            <div class="button-group-center">
                <a href="{% url 'applicationForm' %}" class="btn-back">Back</a>
                
                <a href="{% url 'applicationForm_p3' %}" style="text-decoration: none;" class="btn-next">Next</a>
            </div>

        </form>
    </div>
</div>
{% endblock %}