{% extends 'student/base.html' %}

{% block content %}
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <div class="container">
        <h1>Welcome here, {{ request.user.get_full_name|default:request.user.username }}!</h1>
        <ul>
            <li><a href="#explore" style="text-decoration: none;"><button class="btn btn-red">Explore Scholarships</button></li>
            <li><a href="{% url 'applicationForm' %}" style="text-decoration: none;"><button class="btn btn-red">Apply for Scholarship</button></a></li>
            <li><a href="{% url 'eligibility_check' %}" style="text-decoration: none;"><button class="btn btn-blue">Eligibility Checker</button></a></li>
            <li><button class="btn btn-grey">Scholarship Status: </button></li>
        </ul>
    </div>
    <div class="card-wrapper">
        
        <div class="card">
            <h2>Application Tracking</h2> 
            <div class="card-body">
                <p></p> 
            </div>
        </div>
        <p style="font-family: Inter; font-size: 20px; font-weight: 600;">Click below to check on MMU’s scholarship details</p>
        <div class="card" style="padding-top: 20px; padding-bottom: 20px;">
            <a href="{% url 'scholarship_list' %}" style="text-decoration: none;"><h2 id="explore">Scholarships Details</h2></a>
        </div>

        <div class="card">
            <a href="{% url 'eligibility_check' %}" style="text-decoration: none;"><h2 id="eligibility">Eligibility Checker</h2></a>
            <div class="card-body">
                <form method="GET" action="{% url 'eligibility_check' %}">
                <table>
                    <tr>
                        <td style="padding-right: 100px;font-size: 18px;">Currently studying:</td>
                        <td style="font-size: 18px;">CGPA</td>
                    </tr>
                    <tr>
                        
                        <td style="padding-right: 100px;">  
                            <select id="currentstudy" name="study_level">
                                <option value="Foundation">Foundation</option>
                                <option value="Diploma">Diploma</option>
                                <option value="Degree">Degree</option>
                                <option value="Postgraduate">Postgraduate</option>
                            </select>
                        </td>
                        <td> 
                            <select id="cgpa" name="gpa">
                                <option value="2.00">≤ 2.00</option>
                                <option value="2.01">2.01 - 2.99</option>
                                <option value="3.00">3.00 - 3.49</option>
                                <option value="3.50">3.50 - 3.59</option>
                                <option value="3.60">3.60 - 3.69</option>
                                <option value="3.70">3.70 - 3.79</option>
                                <option value="3.80">3.80 - 3.89</option>
                                <option value="3.90">3.90 - 3.99</option>
                                <option value="4.00">4.00</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <a href="{% url 'eligibility_check' %}"><button class="btn-match" type="submit">Match</button></a>
            </form>
            </div>
        </div>

        <div class="card">
            <h2>Recommended Scholarships</h2> 
            <div class="card-body">
                <p>MMU Merit Scholarship</p> 
            </div>
        </div>

    </div>

{% endblock %}