{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'landingpage/css/landing.css' %}" type="text/css" rel="stylesheet" />
    <title>Landing Page</title>
</head>
<body>
    <nav class="navbar">
    <ul class="nav-list">
        <li class= "nav-left"><a href="{% url 'index' %}"><img src="{% static 'landingpage/img/logo.png' %} " alt="MMU Logo" style="width:150px; height:auto;"/></a>
        <h3> Multimedia University Scholarship </h3>
        </li>
        <div class = "about-and-scholarship">
        <a href = "#AboutUs" class="about"> About Us </a>
        <a href = "#Scholarship" class="scholarship"> Scholarships </a>
        </div>
        <a href = "{% url 'login' %}" class="button">Log In </a>
    </li>
    </ul>
    </nav>

    {% block content %}
    {% endblock %}
    
</body>
</html>