{% extends base_template %}
{% load static %}

{% block content %}
<link href="{% static 'login/css/change_password.css' %}" type="text/css" rel="stylesheet" />

<div id="manageAccount-container">
{% if '/reviewer/' in request.path %}
    <h1 style="margin-top: 0px; margin-left: 20px;"> Manage Account </h1>
{% elif '/committee/' in request.path %}
    <h1 style="margin-top: 0px; margin-left: 20px;"> Manage Account </h1>
{% else %}
    <h1 style="margin-top: -50px; margin-left: 20px;">Manage Account</h1>
{% endif %}

<div class="content-account">
    <div class="sidebar">
    {% if '/reviewer/' in request.path %}
        <a href="{% url 'reviewer_change_password' %}" 
           class="{% if request.resolver_match.url_name == 'reviewer_change_password' %}active{% endif %}">
           Change Password
        </a>
        <a href="{% url 'reviewer_update_security_questions' %}"
           class="{% if request.resolver_match.url_name == 'reviewer_update_security_questions' %}active{% endif %}">
           Update Security Question
        </a>
    
    {% elif '/committee/' in request.path %}
        <a href="{% url 'committee_change_password' %}" 
           class="{% if request.resolver_match.url_name == 'committee_change_password' %}active{% endif %}">
           Change Password
        </a>
        <a href="{% url 'committee_update_security_questions' %}"
           class="{% if request.resolver_match.url_name == 'committee_update_security_questions' %}active{% endif %}">
           Update Security Question
        </a>

    {% else %}
    <a href="{% url 'student_change_password' %}" 
           class="{% if request.resolver_match.url_name == 'student_change_password' %}active{% endif %}">
           Change Password
        </a>
        <a href="{% url 'student_update_security_questions' %}"
           class="{% if request.resolver_match.url_name == 'student_update_security_questions' %}active{% endif %}">
           Update Security Question
        </a>


    {% endif %}

    {% if is_student %}
    <a href="{% url 'student_update_profile' %}">Update Profile</a>
    {% endif %}
        
    </div>


    <div class="settings-container">
        <h2>Change Your Password</h2>
        <div id="change-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div id="button-group">

                {% if '/reviewer/' in request.path %}
                    <button type="submit" class="button">Save Changes</button>
                
                {% elif '/committee/' in request.path %}
                    <button type="submit" class="button">Save Changes</button>

                {% else %}
                    <button type="submit" class="button">Save Changes</button>
                {% endif %}

                
                
                {% if '/reviewer/' in request.path %}
                    <a href="{% url 'reviewer' %}" class="button-2">Cancel</a>
                
                {% elif '/committee/' in request.path %}
                    <a href="{% url 'committee' %}" class="button-2">Cancel</a>

                {% else %}
                    <a href="{% url 'student' %}" class="button-2">Cancel</a>
                {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

</div>

{% endblock %}
