{% extends 'committee/base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'login/css/change_password.css' %}" type="text/css" rel="stylesheet" />

<div class="content-account">
    <div class="sidebar">
        <a href = "{% url 'change_password' %}">Change Password</a>
        <a href = "{% url 'update_security_questions' %}">Update Security Question</a>
    </div>


    <div class="settings-container">
        <h2>Change Your Password</h2>
        <div id="change-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div id="button-group">
                <button type="submit" class="button">Save Changes</button>
                <a href="{% url 'committee' %}" class="button-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
