{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'login/css/forgotpw.css' %}" type="text/css" rel="stylesheet" />
    <title>Forgot Password</title>
</head>

<body>
    <div id="container-forgot">
        <h2>Forgot Password</h2> 
        <div id="login-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Submit</button>
        </form>
        </div>
        <div  id="errorform">
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </div>
    <div>

</body>

</html>