{% extends 'committee/base.html' %}

{% block content %}
<div class="w3-container" style="padding: 20px 50px;">
    <h1>Manage Accounts</h1>

    <div>
        <div>
            <a href="?tab=password" class="w3-bar-item w3-button w3-padding-large w3-block w3-left-align" 
               style="font-size: 28px; {% if active_tab == 'password' %} font-weight: bold; background-color: transparent; {% endif %}">
                Reset Password
            </a>
            <a href="?tab=security" class="w3-bar-item w3-button w3-padding-large w3-block w3-left-align" 
               style="font-size: 28px; {% if active_tab == 'security' %} font-weight: bold; background-color: transparent; {% endif %}">
                Reset Security Question
            </a>
        </div>

        <div class="w3-col l9 m8 s12 w3-container" style="padding-left: 50px;">
            {% if active_tab == 'password' %}
                <h3 style="font-weight: bold; font-size: 24px;">Reset Password:</h3>
                <form method="post">
                    {% csrf_token %}
                    <p style="font-size: 20px;">Enter your current password:</p>
                    <input type="password" name="old_password" class="w3-input w3-border w3-round-large" style="max-width: 500px;">
                    
                    <p style="font-size: 20px;">Enter your new password:</p>
                    <input type="password" name="new_password1" class="w3-input w3-border w3-round-large" style="max-width: 500px;">
                    
                    <p style="font-size: 20px;">Confirm your new password:</p>
                    <input type="password" name="new_password2" class="w3-input w3-border w3-round-large" style="max-width: 500px;">
                    
                    <br>
                    <button type="submit" name="reset_password" class="w3-button w3-round-large" 
                            style="background-color: #004a99; color: white; padding: 10px 40px;">Save</button>
                </form>

            {% elif active_tab == 'security' %}
                <h3 style="font-weight: bold; font-size: 24px;">Reset Security Question:</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="custom-form-style" style="max-width: 500px;">
                        {{ security_form.as_p }}
                    </div>
                    <button type="submit" name="reset_security" class="w3-button w3-round-large" 
                            style="background-color: #004a99; color: white; padding: 10px 40px;">Save</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>

<style>
    /* Styling for security_form fields to match password inputs */
    .custom-form-style select, .custom-form-style input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 15px;
    }
</style>
{% endblock %}