{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'login/css/security.css' %}" type="text/css" rel="stylesheet" />
    <title>Log In</title>
</head>
<body style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('{% static 'login/img/login-bg.jpg' %}');">
    <div id="container-login">
        <h2> Set Your Security Question </h2>

        <p> Questions </p>
       
        
<!-- the url to be change so will log in to corresponding user based on their account type -->
        <a href = "{% url 'committee' %}" class="button">Register </a>

    </div>
    
    
</body>
</html>