{% extends base_template %}
{% load static %}

{% block content %}
<link href="{% static 'login/css/change_password.css' %}" type="text/css" rel="stylesheet" />

<div id="manageAccount-container">
<h1>Manage Account</h1>

<div class="content-account">
    <div class="sidebar">
    {% if '/reviewer/' in request.path %}
        <a href="{% url 'reviewer_change_password' %}" 
           class="{% if request.resolver_match.url_name == 'reviewer_change_password' %}active{% endif %}">
           Change Password
        </a>
        <a href="{% url 'reviewer_update_security_questions' %}"
           class="{% if request.resolver_match.url_name == 'reviewer_update_security_questions' %}active{% endif %}">
           Update Security Question
        </a>
    
    {% elif '/committee/' in request.path %}
        <a href="{% url 'committee_change_password' %}" 
           class="{% if request.resolver_match.url_name == 'committee_change_password' %}active{% endif %}">
           Change Password
        </a>
        <a href="{% url 'committee_update_security_questions' %}"
           class="{% if request.resolver_match.url_name == 'committee_update_security_questions' %}active{% endif %}">
           Update Security Question
        </a>

    {% else %}
    <a href="{% url 'student_change_password' %}" 
           class="{% if request.resolver_match.url_name == 'student_change_password' %}active{% endif %}">
           Change Password
        </a>
        <a href="{% url 'student_update_security_questions' %}"
           class="{% if request.resolver_match.url_name == 'student_update_security_questions' %}active{% endif %}">
           Update Security Question
        </a>


    {% endif %}

    {% if is_student %}
    <a href="{% url 'student_update_profile' %}"
     class="{% if request.resolver_match.url_name == 'student_update_profile' %}active{% endif %}"
    >Update Profile</a>
    {% endif %}
        
    </div>

    <div class="settings-container">
        <h2>Update Your Profile</h2>
            <div id="change-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div id="button-group">
                    <button type="submit" class="button">Save Changes</button>
                    <button type="submit" name="cancel" class="button-2">Cancel</button>
                </div>
            </form>
            </div>
    </div>
</div>

</div>

{% endblock %}
