{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="{% static 'login/css/security.css' %}" type="text/css" rel="stylesheet" />
    <title>Verify Security Questions</title>
</head>

<body>
    
    <div id="container-security">
        <h2>Security Check</h2>
        <div id="security-form">
        <p>Please answer both security questions to reset your password.</p>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Verify Answers</button>
        </form>
        </div>

        <div id="errorform">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

    </div>
</body>

</html>