html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior:smooth;
}


.navbar {
  background-color: whitesmoke;
}

.nav-list {
  list-style: none;
  display: flex;           /* Horizontal layout */
  align-items: center;     /* Vertically center items */
  gap: 10px;               /* Space between items */
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: flex;           
  align-items: center;    
   gap: 20px;
   
}

.dropdown {
  display: relative;
  width: 35px; /* Adjust width as needed */
  cursor: pointer;
  padding: 6px 0; /* Adds clickable area around the bars */
  margin-left: auto;
}

.dropdown a{
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 15px;
}

.content{
  position:absolute;
  display: none;
  background-color:#EEF1F1;
  min-width: 200px;
  border-radius: 15px;
  right: 0; /* let the content open towards left side*/
}

.dropdown:hover .content{
  display: block;
}



.dropdown:hover button{
  background-color: rgb(186, 184, 184);

}

.dropdown a:hover{
  background-color: rgb(186, 184, 184);
}

.bar1, .bar2, .bar3 {
  width: 100%;
  height: 5px; /* Height of each bar */
  background-color: #333; /* Color of the bars */
  margin: 6px 0; /* Space between the bars */
  transition: 0.4s; /* Smooth transition for potential animations (e.g., hover/click) */
}


#Dashboard h1{
  text-align: left;
  font-size: 30px;
  padding-top: 30px;
}
