{% extends 'committee/base.html'%}
{% block content %}
{% load static %}


<section id="Manage">
    <h1>Manage Scholarships</h1>
    <a href="{% url 'create_scholarship' %}" class="button">Create Scholarship</a>
    <ul class="scholarship-list">
        {% for scholarship in scholarships %}
        <li class="scholarship-item">
            <span class="scholarship-name">{{ scholarship.name }}</span>
            <div>
                <a href="{% url 'edit_scholarship' scholarship.id %}" class="btn-edit">Edit</a>
                <form action="{% url 'delete_scholarship' scholarship.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn-delete"
                        onclick="return confirm('Are you sure you want to delete this scholarship?');">Delete</button>
                </form>
            </div>
        </li>
       
        {% endfor %}
    </ul>
</section>

{% endblock %}