/**
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 1440px;
height: 2395px;

background: #FFFFFF;

/* Navigation */

**/
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: whitesmoke;
}

.nav-list {
  list-style: none;
  display: flex;           /* Horizontal layout */
  align-items: center;     /* Vertically center items */
  gap: 10px;               /* Space between items */
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: flex;           
  align-items: center;    
   gap: 20px;
}


.nav-list li button {
  padding: 5px 10px;
  cursor: pointer;
  
}

.button:link, .button:visited, .button-2:link, .button-2:visited {
  background-color: #034EA1;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  margin-left: auto;
}

.button:hover, .button:active, .button-2:hover, .button-2:active {
    background-color: #EC1C24;
}

#landing {
    position: relative; 
    width: 100%;
}

#container-floatabovepic {
    position: absolute;  /* Floats over the image */
    top: 50%;            /* Vertical center */
    left: 50%;           /* Horizontal center */
    transform: translate(-50%, -50%); /* Perfect centering adjustment */
    text-align: center;  /* Centers text and button relative to each other */
    width: 80%;          /* Prevents text from hitting the edges */
}

#grad-pic {
    width: 100%;       /* Makes image stretch across the screen */
    height: fit-content;
    display: block;    /* Removes tiny gap at bottom of image */
}

#landing h2{
    position: absolute; /* Takes text out of flow to float it */
    top: 50%;           /* Moves top of text to vertical center */
    left: 50%;          /* Moves left of text to horizontal center */
    transform: translate(-50%, -50%); /* Center the text */
    color: black;      
    font-size: 3rem;    
    text-align: center;
    width: 80%;         /* width of text */
}

.button-2{
    position: absolute; /* Takes text out of flow to float it */
    top: 70%;           /* Moves top of text to vertical center */
    left: 41%;          /* Moves left of text to horizontal center */
    width: 10%;         /* width of button */
}
