html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

#manageAccount-container{
    margin-top: 80px;
    margin-left: 10px;
}

.content-account {
    padding: 20px;
    display: flex;
    align-items: flex-start; 
    gap: 30px;              
    max-width: 1200px;      
    padding: 20px;
    height: max-content;
}


.sidebar {
    height: max-content;
    flex: 0 0 250px;      
    display: flex;
    flex-direction: column; 
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 30px;
}

.sidebar a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 0;
    padding-left: 10px;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.sidebar a:hover {
    background-color:#b7b5b5;
    color:#034EA1;
    transform: scale(1.05);
    border-radius: 15px;
}

.settings-container {
    flex: 1;               
    background-color: aliceblue;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.25);
    box-sizing: border-box;
}


#change-form{
    display:block;
}

#change-form p{
    text-align: left;
    margin: 0;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 20px;
}

#change-form input{
    width: 50%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#change-form textarea{
    display: block;
    width: 50%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#change-form p .helptext {
    display: block;    
    width: 100%;       
    margin-top: 5px;   
    color: #666;       
    font-size: 14px;  
}

.button-group {
    display: flex;
    align-items: center; 
    margin-right: 20px;           
    margin-top: 20px;
    margin-left: 500px;
}

.button {
    background-color: #034EA1;
    color: white;
    padding: 14px 25px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex: 0 1 auto;
}

.button:hover {
    background-color: #002958;
    transform: scale(1.05);
}

.button:active {
    background-color: #001d3e;
    transform: scale(0.98);
}


.button-2 {
    background-color: #EC1C24;       
    border: none;           
    color:#ffffff;           
    padding: 14px 25px;
    margin-left: 5px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;           
    text-decoration: none; 
    cursor: pointer;    
    display: inline-block;
    transition: transform 0.2s ease, background-color 0.2s ease;
    text-align: center;
}

.button-2:hover {
    background-color: #990005;
    transform: scale(1.05);
}

.button-2:active {
    background-color: #5d0003;
    transform: scale(0.98);
}


#container-login a, #container-forgot a, #container-security a {
    color: #034EA1;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

#container-login a:hover, #container-forgot a:hover, #container-security a:hover{
    color: #EC1C24;
    text-decoration: underline;
}


#errorform{
    color: #EC1C24; 
    margin-bottom: 10px; 
    font-size: 0.9em;
    text-decoration: none;
    text-align: left;
}

#errorform li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#setsecurity-form {
    display: flex;
    flex-direction: column;
}

#setsecurity-form label{
    font-weight: bold;
}


#security-form p, #setsecurity-form p, #setsecurity-form select {
    text-align: left;
    margin: 0;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 20px;
}

#security-form input, #setsecurity-form input, #setsecurity-form select {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.sidebar a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
}


.sidebar a.active {
    background-color:#034EA1; 
    color: white;
    font-weight: bold;
    border-radius: 15px;
}